# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
# comment out .zip because of javadocs
#*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.history

# Maven build artifact directory
target/*

# IntelliJ project directory info
.idea/*
*.iml

# Visual Studio code
.vscode/*
!.vscode/cspell.json
*.code-workspace
.history

